!!!
%html
  %head
    %title Visual Process
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery-1.4.4.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/processing-1.0.0.min.js' }
  
  %body
    %canvas{ "data-processing-sources" => "/processing/visual-ps.pjs" }
